# Mengabaikan Virtual Environment
venv/
password/
user/

# Mengabaikan file cache Python
__pycache__/
*.pyc
*.pyo

# Mengabaikan file log dan database sementara
*.log
*.sqlite3

# Mengabaikan file lingkungan editor
.vscode/
.idea/
.tmp.txt


